---
import TestComp from "../components/TestComp.astro";
const slug = Astro.params.slug;
const response = await fetch(
	`https://qwicko.recruitee.com/api/offers/${slug}`
	// `https://rocketsourcers.recruitee.com/api/offers/${slug}`
);
const data = await response.json();
---


<script>
    document.getElementById("candidateForm").addEventListener("submit", async function (event) {
        event.preventDefault(); // Voorkom standaardgedrag van formulier verzenden
		// @ts-ignore
        const formData = new FormData(this);

        try {
			// @ts-ignore
            const response = await fetch(this.action, {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                throw new Error('Network response was not ok: ' + response.status + ' ' + response.statusText);
            }

            const data = await response.text();
            // Toon een succesbericht of voer andere acties uit
            document.getElementById("result").innerHTML = "<p>Bedankt voor het indienen van uw gegevens!</p>";
			// @ts-ignore
            document.getElementById("candidateForm").reset();
        } catch (error) {
            // Handel fouten af
            console.error('Error:', error);
            document.getElementById("result").innerHTML = "<p>Fout: " + error.message + "</p>";
        }
    });
</script>

<!-- `https://devlloyd.recruitee.com/api/offers${window.location.pathname}/candidates`, -->
<html lang="nl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script defer src="/src/javascript/card.js"></script>
		<title>Astro</title>
	</head>
	<body>
		<app-header
			link1="https://rocketsourcers-vacatures.netlify.app/"
			link2="https://dev-lloyd.nl"
			link3="https://dev-lloyd.nl"
			link4="https://dev-lloyd.nl"
		>
			<div slot="naam">Your Website Name</div>
		</app-header>
		{slug}
		<main>
			<h1>Functieomschrijving</h1>
			<span set:html={data.offer.description} />
			<span set:html={data.offer.requirements} />
			<!-- <a href={data.offer.careers_apply_url}>Apply now</a> -->

			<form id="candidateForm" action=`https://qwicko.recruitee.com/api/offers/${slug}/candidates` method="post"
    			enctype="multipart/form-data">
    			<label for="name">Naam:</label><br>
    			<input type="text" id="name" name="candidate[name]" required><br>
    			<label for="email">E-mail:</label><br>
    			<input type="email" id="email" name="candidate[email]" required><br>
    			<label for="phone">Telefoonnummer:</label><br>
    			<input type="tel" id="phone" name="candidate[phone]" required><br>
    			<label for="photo">Foto:</label><br>
    			<input type="file" id="photo" name="candidate[photo]" accept="image/*" required><br>
    			<label for="cover_letter">Sollicitatiebrief:</label><br>
    			<textarea id="cover_letter" name="candidate[cover_letter]" required></textarea><br>
    			<label for="cv">CV:</label><br>
    			<input type="file" id="cv" name="candidate[cv]" accept=".pdf,.doc,.docx" required><br><br>
    			<input type="submit" value="Verzenden">
			</form>

<div id="result"></div>
		</main>
		<TestComp />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
	}
	main {
		max-width: 1200px;
		margin: 80px auto;
	}
	h1 {
		font-size: 50px;
		margin: 0 0 80px;
	}

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 16px;
	}

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 24px;
	}

	li.card {
		list-style: none;
		border: 1px solid #1d1d1d;
		padding: 40px;
	}

	a {
		display: block;
		background-color: #1d1d1d;
		color: #fff;
		padding: 15px 20px;
		margin-top: 48px;
		width: 250px;
	}

	@media (max-width: 600px) {
		h1 {
			font-size: 30px;
			margin: 80px 0;
		}

		h2 {
			font-size: 15px;
		}

		p {
			font-size: 14px;
		}

		ul {
			display: grid;
			grid-template-columns: 1fr;
			gap: 24px;
		}
	}
</style>
