---
import TestComp from "../components/TestComp.astro";
const slug = Astro.params.slug;
const response = await fetch(
	`https://devlloyd.recruitee.com/api/offers/${slug}`
	// `https://rocketsourcers.recruitee.com/api/offers/${slug}`
);
const data = await response.json();
---

<script type="javascript">
	alert(window.innerWidth);
	console.log(window.location.pathname);
	const form = document.querySelector("#candidateForm");
	form.addEventListener("submit", (event) => {
		event.preventDefault();

		const formData = new FormData(form);

		// Convert form data to JSON excluding file input fields
		const jsonData = {};
		const fileData = new FormData();

		formData.forEach((value, key) => {
			if (key === "photo" || key === "cv") {
				// Append file data to a separate FormData for binary upload
				fileData.append(
					key,
					form.elements[key].files[0]
				);
			} else {
				// Include non-file fields in JSON data
				jsonData[key] = value;
			}
		});

		const showData = Object.fromEntries(formData);
		console.log(showData);

		// Perform the fetch request
		fetch(
			`https://devlloyd.recruitee.com/api/offers${window.location.pathname}/candidates`,
			{
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					candidate: jsonData,
				}),
			}
		)
			.then((response) => {
				if (!response.ok) {
					throw new Error(
						`HTTP error! Status: ${response.status}, Message: ${response.statusText}`
					);
				}
				return response.json();
			})
			.then((data) => {
				console.log("Success:", data);
				// Handle success response
			})
			.catch((error) => {
				console.error("Error:", error.message);
				// Handle error
			});
	});
</script>

<html lang="nl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script defer src="/src/javascript/card.js"></script>
		<title>Astro</title>
	</head>
	<body>
		<app-header
			link1="https://rocketsourcers-vacatures.netlify.app/"
			link2="https://dev-lloyd.nl"
			link3="https://dev-lloyd.nl"
			link4="https://dev-lloyd.nl"
		>
			<div slot="naam">Your Website Name</div>
		</app-header>
		{slug}
		<main>
			<h1>Functieomschrijving</h1>
			<span set:html={data.offer.description} />
			<span set:html={data.offer.requirements} />
			<a href={data.offer.careers_apply_url}>Apply now</a>

			<form id="candidateForm">
				<label for="name">Name:</label>
				<input
					type="text"
					id="name"
					name="name"
					required
				/><br />

				<label for="email">Email:</label>
				<input
					type="email"
					id="email"
					name="email"
					required
				/><br />

				<label for="phone">Phone:</label>
				<input
					type="tel"
					id="phone"
					name="phone"
					required
				/><br />

				<label for="photo">Photo:</label>
				<input
					type="file"
					id="photo"
					name="photo"
					accept="image/*"
				/><br />

				<label for="coverLetter">Cover Letter:</label>
				<textarea id="coverLetter" name="coverLetter"
				></textarea><br />

				<label for="cv">CV:</label>
				<input
					type="file"
					id="cv"
					name="cv"
					accept=".pdf"
				/><br />

				<!-- <button type="button" onclick="submitForm()"
					>Submit</button
				> -->
				<!-- submit the form to recruitee -->
				<input type="submit" value="Submit" />
			</form>
		</main>
		<TestComp />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
	}
	main {
		max-width: 1200px;
		margin: 80px auto;
	}
	h1 {
		font-size: 50px;
		margin: 0 0 80px;
	}

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 16px;
	}

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 24px;
	}

	li.card {
		list-style: none;
		border: 1px solid #1d1d1d;
		padding: 40px;
	}

	a {
		display: block;
		background-color: #1d1d1d;
		color: #fff;
		padding: 15px 20px;
		margin-top: 48px;
		width: 250px;
	}

	@media (max-width: 600px) {
		h1 {
			font-size: 30px;
			margin: 80px 0;
		}

		h2 {
			font-size: 15px;
		}

		p {
			font-size: 14px;
		}

		ul {
			display: grid;
			grid-template-columns: 1fr;
			gap: 24px;
		}
	}
</style>
